body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  margin-top: 1%;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #000;
  font-family: 'Muli', sans-serif;
  font-size: 19px;
  padding: 2%;
}

.btn {
  border: 2px solid #8b3923;
  align-self: center;
  font-family: 'Muli', sans-serif;
}
.sub {
  margin-top: 2%;
  margin-left: 40%;
}

.login {
  background-color: #923e23;
  border: 2px solid #888;
  color: white;
  border-radius: 3px;
}
.logOut {
  background-color: black;
  color: white;
  font-family: 'Muli', sans-serif;
  border: none;
  margin-top: 2.5%;
}

.learn {
  width: 80%;
  height: 83%;
  border-radius: 3px;
  align-self: center;
  margin-top: 1%;
  font-family: 'Muli', sans-serif;
  padding: 1%;
}
.saved {
  border-bottom: 2px solid #923e23;
  width: 50%;
}

.letsBowl {
  text-decoration: none;
  color: white;
  font-family: 'Righteous', serif;
}
.scoreboardContainer {
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.scoreboard {
  height: auto;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1%;
}
.scores {
  border-radius: 5px;
  background-color: #f7f1f4;
  opacity: .9;
  width: 40%;
  align-self: center;
  font-family: 'Muli', sans-serif;
}
.scoreboardText {
  color: #efac4e;
  font-family: 'Muli', sans-serif;
  align-self: center;
  border-bottom: 1px solid white;
}

.profile {
  justify-content: center;
  /*background-color: rgba(0,0,0,0.6)*/
}

.signUp {
  color: #f0ad4e;
}
.signUp:hover {
  color: #923e23;
}
