<div class='header'>
  <h1 style='margin-right:6%;'><u>Bowling Behind the Scenes</u></h1>
  <h2>This is an app that allows you to learn the method behind the madness of a score in bowling. You can checkout the scoring system <a class='signUp' href='/#/score'>here</a>. It will look a little different than what you would normally see in a bowling alley because it shows you the total score for each individual frame instead of a running total. This is done in the hope that you will be able to see exactly how a spare and strike are calculated.</h2>
  <br>
  <h2>Clicking the login button above has a few added benefits. You can save your score and go to your profile page which will have all of your saved scores and a running average. You also will have access to the scoreboard feature which allows bowlers that aren't physically together to compete against one another. This works much like a chat room where you and your friend(s) will all enter the same room name. You will then see all the people in the room and there scores ranked from highest to lowest.</h2>
  <br>
  <h2>First time to the site? <a class='signUp' href="/#/signup">Sign Up here!</a></h2>
</div>
