<div class='header'>
  <!-- <h1>Interested to learn the math behind a bowling score?</h1>
  <h2>This app can teach you!</h2>
  <a href="/#/learn_the_system"><button class='btn btn-warning' type="button" name="button">Get Started Now</button></a> -->
  <h2>Login To save your Score and have your name on the scoreboard!</h2>
  <form action="/login" method='POST'>
    <input class='login' type="text" placeholder="Name" required name='namey'>
    <input class='login' type="password" placeholder="Password" required name='password'>
    <br>
    <button type='submit' class='sub btn btn-warning'>Submit</button>
  </form>
  <h2>Don't have an account? <a class='signUp' href='/#/signup'>Sign Up </a></h2>

</div>
