<div class='container'>
  <div class='learn'>
    <h3 style='color: #923e23'>Strike (X) = 10 plus the next two balls</h3>
    <h4>Example: Frame 1 = X, Frame 2 = 8, 1 </h4>
    <h4>Frame One Total = 10 + 8 + 1 = 19</h4>
    <h4>Another Example: Frame 1 = X, Frame 2 = X, Frame 3 = X</h4>
    <h4>Frame One Total = 10 + 10 + 10 = 30 (This is why the maximum possible score is 300)</h4>
    <br>
    <h3 style='color: #923e23'>Spare ( / ) = 10 Plus the next shot</h3>
    <h4>Example: Frame 1 = 9 / , Frame 2 = 8 1 </h4>
    <h4>Frame One Total = 10 + 8 = 18 (the second shot doesn't count for the spare)</h4>
    <h4>Yet Another Example: Frame 1 = 9 /, Frame 2 = X</h4>
    <h4>Frame One Total = 10 + 10 = 20</h4>
    <br>
    <h2>When you enter your score in this app, it shows you the total for that frame instead of your overall total to help understand the scoring system!</h2>
  </div>
  <button class='btn btn-warning'><a class='letsBowl' href="/#/score">Ready? Lets Bowl!</a></button>

</div>
