<form name='player' ng-submit='frameOne()'>
<div class='container'>
    <div class='scoreCard'>
      <div class='frame'>
        <div class="balls">


          <div class='col-xs-8'>Ball One
            <input maxlength="1" type="text" class="score" name='ball' ng-model='frameOne[0]' ng-change='calculateScore(player)'>

          </div>
          <div class='col-xs-8'>Ball Two
            <input maxlength="1" type="text" class='score' name='ball' ng-model='frameOne[1]' ng-change='calculateScore(player)'>
          </div>
        </div>
        <div class='total'>
          <h3 ng-show='frameOneTotal'>{{score}}</h3>
        </div>
      </div>
      <div class='frame'>
        <div class="balls">


          <div class='col-xs-8'>Ball Three
            <input type="text" class="score" name='ball' ng-model='frameTwo[0]' ng-change='calculateScore(player)'>
          </div>
          <div class='col-xs-8'>Ball Four
            <input type="text" class='score' name='ball' ng-model='frameTwo[1]' ng-change='calculateScore(player)'>
          </div>
        </div>
        <div class='total'>
          <h3>{{total}}</h3>
        </div>
      </div>
      <div class='frame'>
        <div class="balls">


          <div class='col-xs-8'>Ball Five
            <input type="text" class="score" ng-model='frameThree[0]' ng-change='calculateScore(player)'>
          </div>
          <div class='col-xs-8'>Ball Six
            <input type="text" class='score' ng-model='frameThree[1]' ng-change='calculateScore(player)'>
          </div>
        </div>
        <div class='total'>
          <h3>10</h3>
        </div>
      </div>
      <div class='frame'>
        <div class="balls">


          <div class='col-xs-8'>Ball One
            <input type="text" class="score">
          </div>
          <div class='col-xs-8'>Ball Two
            <input type="text" class='score'>
          </div>
        </div>
        <div class='total'>
          <h3>10</h3>
        </div>
      </div>
      <div class='frame'>
        <div class="balls">


          <div class='col-xs-8'>Ball One
            <input type="text" class="score">
          </div>
          <div class='col-xs-8'>Ball Two
            <input type="text" class='score'>
          </div>
        </div>
        <div class='total'>
          <h3>10</h3>
        </div>
      </div>
      <div class='frame'>
        <div class="balls">


          <div class='col-xs-8'>Ball One
            <input type="text" class="score">
          </div>
          <div class='col-xs-8'>Ball Two
            <input type="text" class='score'>
          </div>
        </div>
        <div class='total'>
          <h3>10</h3>
        </div>
      </div>
      <div class='frame'>
        <div class="balls">


          <div class='col-xs-8'>Ball One
            <input type="text" class="score">
          </div>
          <div class='col-xs-8'>Ball Two
            <input type="text" class='score'>
          </div>
        </div>
        <div class='total'>
          <h3>10</h3>
        </div>
      </div>
      <div class='frame'>
        <div class="balls">


          <div class='col-xs-8'>Ball One
            <input type="text" class="score">
          </div>
          <div class='col-xs-8'>Ball Two
            <input type="text" class='score'>
          </div>
        </div>
        <div class='total'>
          <h3>10</h3>
        </div>
      </div>
      <div class='frame'>
        <div class="balls">


          <div class='col-xs-8'>Ball One
            <input type="text" class="score">
          </div>
          <div class='col-xs-8'>Ball Two
            <input type="text" class='score'>
          </div>
        </div>
        <div class='total'>
          <h3>10</h3>
        </div>
      </div>
      <div class='frame'>
        <div class="balls">


          <div class='col-xs-8'>Ball One
            <input type="text" class="score">
          </div>
          <div class='col-xs-8'>Ball Two
            <input type="text" class='score'>
          </div>
        </div>
        <div class='total'>
          <h3>10</h3>
        </div>
      </div>



    </form>
    </div>
  </div>
