<form name='player'>
<div class='container'>
    <div class='scoreCard'>
      <div class='frame' ng-repeat='frame in frames'>
        <div class="balls">


          <div class='col-xs-8'>
            <p class="bowlingScore">Ball One</p>
            <input maxlength="1" type="text" class="score" ng-model='frame[0]' ng-change='calculateScore(player)'>

          </div>
          <div class='col-xs-8'>
            <p class='bowlingScore'>Ball Two</p>
            <input maxlength="1" type="text" class='score' ng-model='frame[1]' ng-change='calculateScore(player)'>
          </div>
          <!-- <div class='col-xs-8' ng-show='frame = frame[9]'>Ball three
            <input maxlength="1" type="text" class='score' ng-model='frame[2]' ng-change='calculateScore(player)'>
          </div> -->
        </div>
        <div class='total'>
          <h3 class='bowlingScore'>{{frameTotal[$index]}}</h3>
          <br>
        </div>
      </div>
    </div>
    <h2 class='totals bowlingScore'>Total Score: {{gameTotal}}</h2>
  </div>
</form>
