<form name='form' method="POST" action='/newuser' >
  <label for="">Name</label>
  <input type='text' class='form-control' placeholder="Pete Weber" ng-model='signUp.namey' name='namey'>
  <label for="">Add a Photo</label>
  <input type='text' class='form-control' placeholder="something.jpg" name='photo'>
  <label for="">Email</label>
  <input type='text' required class='form-control' placeholder="bowlingis@fun.com" ng-model='signUp.email' name='email'>
  <label for="">Password</label>
  <input type='password' required class='form-control' placeholder="password"  name='password'>
  <button class='btn btn-warning'>Submit</button>
</form>
